/*@import 'base';*/
@import 'project';


.temp-for-background-site{
    //чтобы проверить соответствие образцу из файла - разкоментиируй эту строчку
   /* background-image: url(../Minto_1200.png);*/
    background-repeat: no-repeat;
    background-position-x: center;
    height: 1830px;

}

