@charset "UTF-8";
/*межстрочный интервал, стандартный 1,5*/
@import url(d:\_Study\git_work\hw4_sass\CSS\normalize.css);
/* Шрифты */
@font-face {
  font-family: 'Tamburin Modern';
  src: url("../fonts/Tamburin_Modern.eot");
  src: url("../fonts/Tamburin_Modern.eot?iefix") format("eot"), url("../fonts/Tamburin_Modern.woff") format("woff"), url("../fonts/Tamburin_Modern.ttf") format("truetype"), url("../fonts/Tamburin_Modern.svg#webfont") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* Поля ввода и ссылки */
input {
  border-radius: 3px;
  padding: 1px 3px;
}

input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

input[type="button"] {
  cursor: pointer;
  /*Сброс стандартных настроек кнопки  */
  display: inline-block;
  /* блочный элемент с обтеканием */
  margin: 0 0 0 10px;
  /* отступ от границы элемента до родительского элемента */
  padding: 5px 25px;
  /*  отступ от одержимого до границы */
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background: radial-gradient(#55ddff, #0081b5);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #27496d;
}

input[type="button"]:hover {
  color: blue;
  box-shadow: inset 0 0 0 1px #27496d, 0 5px 15px #193047;
}

input[type="button"]:active {
  box-shadow: inset 0 0 0 2px #27496d, inset 0 5px 30px #193047;
}

input:focus {
  outline: none;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  text-decoration: underline;
  color: blue;
}

a:hover {
  /*при наведении курсора*/
  color: yellow;
  text-decoration: none;
}

body {
  margin: 0 auto;
  /* отступ от границы элемента до родительского элемента */
  width: 800px;
  background-color: #00323c;
  background-image: url("../img/background_body.jpg");
  line-height: 2;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

h1 {
  text-align: center;
  font-family: "Tamburin Modern";
}

.pen-text, td + td {
  color: blue;
  font-family: "Pacifico";
}

.center-container {
  border: 1px solid black;
  padding: 0 30px 50px 30px;
  /*  отступ от одержимого до границы (слева и справа по 30px)*/
  margin: 15px 0;
  position: relative;
  /* Положение элемента устанавливается относительно его исходного места. нужно для работы z-index */
}

.page-content {
  position: relative;
  /* Положение элемента устанавливается относительно его исходного места. нужно для работы z-index */
  z-index: 1;
}

.main-resume-content {
  padding: 0 30px;
  /*  Поле от одержимого до границы (слева и справа по 30px)*/
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 25px;
  background-color: lightblue;
  opacity: 0.8;
}

.portfolio_foto {
  width: 150px;
  border: 2px solid gold;
}

.email {
  width: 100px;
  position: fixed;
  right: 80px;
  bottom: 30px;
}

.fio-and-foto, .resume-foto, .resume-fio {
  display: inline-block;
  /* отменяем перенос на новую строку блочного элемента,чтобы поставить блоки рядом*/
  vertical-align: top;
  /* Выравнивароние по верхнему краю относительно родителя*/
}

.resume-foto {
  width: 30%;
  overflow: hidden;
  padding: 0 0 0 30px;
}

.resume-fio {
  padding: 0 20px;
  /*  Поле от одержимого до границы (слева и справа по 20px)*/
  margin-right: 70px;
}

.resume-item-name {
  font-weight: bold;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  /* Рамка вокруг таблицы */
}

td, th, td + td {
  padding: 3px;
  /* Поля вокруг содержимого ячеек - от содержимого до границы ячейки */
  border: 2px solid black;
  /* Рамка вокруг ячейки */
  line-height: 1;
}
/*# sourceMappingURL=style.css.map */